# Dependency directories
node_modules/

# Logs
*.log

# dotenv environment variable files
.env

# IDEs and editors
.vscode/
.idea/

# Mac files
.DS_Store

# Windows image file caches
Thumbs.db

# Windows shortcuts
*.lnk

# CPSC 304 specific deliverables
CPSC304-Group5-Milestone4.pdf
CPSC304-Project-Milestone1-Group5.docx.pdf
CPSC304-Project-Milestone2-Group5-1.docx.pdf
