/* Login page style */
body{
    height:100%;
    margin: 0;
    display:grid;
    place-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;   
}

.login-body {
    background-color: #ffcccb;
}

h1{
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    text-align: center;
}

form label {
    display:block;
    margin-bottom: 10px;
}

form input {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login_div{
    display:grid;
    place-items:center;
    background-color: palevioletred;
    width: 500px;
    height: 650px;
    padding: 60px;
    border-radius: 50px;
}

button {
    width: 100px;
    height: 30px;
    font-size:large;
    border: 2px solid #4CAF50;
    color: white; 
    border-radius: 8px;
}


/* SignUp page style */
.signup_div{
    height:100%;
    margin: 0;
    display:grid;
    place-items:center;
    background-color:#3CB371;
    width: 500px;
    height: 800px;
    padding: 60px;
    border-radius: 50px;
}

.signup-body {
    background-color: #E6f0dc;
}

.button0 {
    background-color: #4CAF50;  
}

.button1 {
    background-color: black;
}

select {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}